  <a href="https://www.comune.palermo.it/"  target="_blank" title="Sito istituzionale del Comune di Palermo" alt="Sito istituzionale del Comune di Palermo" > <div class="logo_pa_top"></div> </a>

<!-- 
<a href="https://www.comune.palermo.it/" title="Sito istituzionale del Comune di Palermo" target="_blank"><img src="{{ config.site_url}}assets/img/logo_pa_gb.svg" class="immagonobox" title="Sito istituzionale del Comune di Palermo" alt="Sito istituzionale del Comune di Palermo" border="0"/></a> -->
